<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior">
                    <clientCredentials>
                        <clientCertificate findValue="WCFCert" x509FindType="FindBySubjectName" />
                    </clientCredentials>
                    <dataContractSerializer maxItemsInObjectGraph="65536000" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>